*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins, sans-serif;
}
.top-text{
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    background-color: lightskyblue;
}
.game-board{
    margin: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board td{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}
.table .board{
    width: 100%;
    height: 100%;
    border: none;
}



.red{
    background-color: red;
}
.green{
    background-color: rgb(8, 177, 8);
}
.blue{
    background-color: rgb(0, 119, 255);
}
.yellow{
    background-color: yellow;
}
.gray{
    background-color: gray;
}

/* class="table gray" */
/* class="table red" */
/* class="table yellow" */
/* class="table green" */
/* class="table blue" */
